#dashbaord_page {
    width: 80%;
    margin: auto;
}

#game_rooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.game_room {
    height: 50px;
    border-radius: 10px;
    padding: 10px 30px;
    background: #5591d4;
    margin: 10px 10px 10px 10px;
    width: 30%;
}

#tool_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}