#login_page {
    width: 80%;
    margin: auto;
    padding: 10% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

#facelook_logo_container {
    order: 1;
    width: 50%;
    height: auto;
    flex: 3;
}

#facelook_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#login_container {
    order: 2;
    align-self: center;
    flex: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#error_register_container {
    font-size: 15px;
    display: flex;
}

#error_message {
    flex: 8;
    color: red;
}

#register {
    flex: 2;
}

#login_form {
    align-self: center;
    flex: 1;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
}

.form_element_btn {
    background: #57b846;
    font-size: 15px;
    color: #fff;
}