#back_to_dashboard {
    background-image: url(../media/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#players {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#player_container {
    padding: 5%;
}

.player {
    padding: 5%;
    background: #ffffff;
    min-width: 40%;
    margin: 10px 10px;
    display: flex;
}

.player_pic {
    order: 1;
    flex: 3;
}

.player_text {
    order: 2;
    flex: 2;
    font-size: 20px;
    margin: 10%;
}