body {
    text-align: center;
}

#back_to_login_btn {
    float: left;
}

#register_form {
    display: inline-block;
}

.register_form_elmt {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    flex: 3;
}

.register_form_element {
    height: 50px;
    align-self: end;
    margin: 10px;
    border-radius: 25px;
    padding: 0 30px;
}